<div class="row">

    <div class="col-md-6">

        <div class="container input-card">
            <div class="row">
                <p>
                    No of Quantity:
                </p>
                <select ng-model="selectedVal" ng-change="resetQuantity()" ng-options="i for i in quantities" ></select>
            </div>
            <br><br>
            <div class="row switch-card">
                <p>
                    Desired Seat Quality:
                </p>
                <select class="_seatQuality" ng-change="resetQuality(seatQuality)" ng-model="seatQuality" ng-options="i for i in seatQualities" name="" aria-label="Toggle ngHide"></select>
                <div>
                  <!-- {{rows | json}} -->
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" ng-show="selectedVal != null && seatQuality != null">
        <div class="table-responsive">
            <h2 class="text-right">Book Seats</h2>
            <hr>
            <table class="table" style="width: auto" ng-show="seatQuality == 'premium'">
                <tbody>
                    <tr data-ng-repeat="row in rows" class="row">
                        <h3 ng-hide="seatQuality == 'standard'">Premium</h3>
                        <td class="SRow1">
                            <span>{{rowLetter[$index]}}</span>
                            <div class="itemSeat" data-ng-repeat="item in row">
                                <a ng-disabled="isDisabled" ng-class="{'selected': item.check == true,'available': item.check == false && item.seat == false, 'blocked': item.seat == true}" ng-click="assignSeats($index,$parent.$index,item.val,item.letter)">{{item.val}}</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table" style="width: auto" ng-show="seatQuality == 'standard'">
                <tbody>
                    <tr data-ng-repeat="row in rows" class="row">
                        <h3 ng-hide="seatQuality == 'premium'">Standard</h3>
                        <td class="SRow1">
                            <span>{{rowLetter[$index]}}</span>
                            <div class="itemSeat" data-ng-repeat="item in row">
                              <a ng-disabled="isDisabled" ng-class="{'selected': item.check == true,'available': item.check == false && item.seat == false, 'blocked': item.seat == true}" ng-click="assignSeats($index,$parent.$index,item.val,item.letter)">{{item.val}}</a>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <a>
              <button class="cta proceed" ng-click="storeSeat()">Finish</button>
            </a>
        </div>

    </div>
</div>
